In [6]:
import numpy as np
import pandas as pd

import pyequion2

In [5]:
eqsys = pyequion2.EquilibriumSystem(["C", "Ca", "Mg"], from_elements=True)

In [16]:
pd.DataFrame(data=eqsys.formula_matrix,
             index=eqsys.extended_elements,
             columns=eqsys.species).iloc[2:, 1:]

,CO2,CO3--,Ca++,CaCO3,CaHCO3+,CaOH+,H+,HCO3-,Mg++,MgCO3,MgHCO3+,MgOH+,OH-
Mg,0,0,0,0,0,0,0,0,1,1,1,1,0
C,1,1,0,1,1,0,0,1,0,1,1,0,0
Ca,0,0,1,1,1,1,0,0,0,0,0,0,0
e,0,-2,2,0,1,1,1,-1,2,0,1,1,-1

In [13]:
eqsys.solid_phase_names

['Aragonite', 'Calcite', 'Dolomite', 'Vaterite']